@font-face {
    font-family: sora;
    src: url(../assets/fonts/Sora-VariableFont_wght.ttf);
}

body {
    background-color: #0a0a0a;
    color: white;
    font-family: sora;
    margin: 0;
    padding: 0;
}

/* Página home */

.logo {
    /* display: flex;
    align-items: center; */
}

.logo img {
    width: 30px;
    height: 30px;
    padding-right: 5%;
}

.logo a {
    font-size: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-left: 40px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    padding-right: 40px;
}

ul li {
    margin: 20px;
}

ul a {
    color: #666666;
    font-weight: 300;
}


a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 75px;
    padding-right: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container hr {
    border: none;
    height: 1px;
    background-color: #1a1a1a;
}

.containerInvista {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.subtitulo {
    color: #666666;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    font-weight: 800;
}

.subtitulo p {
    font-size: 15px;
}

.subtitulo div {
    background-color: #666666;
    width: 20px;
    height: 1px;
    margin: 5px;
}

.textoGrande{
    height: 200px;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 0px;
    margin-bottom: 70px;
}

.texto p{
    color: #666666;
}

#inteli {
    font-weight: 250;
    color: #666666;
}

.fazerQuiz {
    display: flex;
}

button {
    font-family: sora;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.fazerQuiz button  {
    margin-left: 200px
}

button:hover {
    border: solid 1px white;
    background-color: #0a0a0a;
    color: white;
    cursor: pointer;
}

.numeros {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    color: #666666;
}

.numeros hr {
    width: 530px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background-color: #1a1a1a;
}

.numeros .poucoGrande {
    color: white;
    font-size: 40px;
    font-weight: 800;
}

hr {
    width: 95%;
    border: none;
    height: 1px;
    background-color: #1a1a1a;
}

.container2 {
    padding-top: 100px;
    padding-left: 75px;
}




footer hr {
    border: none;
    height: 1px;
    background-color: #1a1a1a;
}




/* Página de Cadastro */
.containerCadastro {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.logoCadastro {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}

.logoCadastro img {
    width: 30px;
    height: 30px;
    padding-right: 5%;
}

.logoCadastro a {
    font-size: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.esquerdo {
    padding-left: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.subtituloCadastro {
    color: #666666;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    padding-bottom: 1%;
}

.subtituloCadastro p {
    font-size: 15px;
}

.subtituloCadastro div {
    background-color: #666666;
    width: 20px;
    height: 1px;
    margin: 5px;
}

.grandeCadastro{
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 0px;
    margin-bottom: 3%;
}

.textoCadastro p{
    color: #666666;
    width: 50%;
    padding-bottom: 8%;
}

.passos {
    display: flex;
    flex-direction: column;
}

.passo1 {
    display: flex;
    align-items: flex-start;
    align-content: center;
    padding-bottom: 2%;
}

.textoPasso {
    padding-left: 3%;
    font-weight: 700;
}

.passo2 {
    color: #666666;
    display: flex;
    align-items: flex-start;
    align-content: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.passo3 {
    color: #666666;
    display: flex;
    align-items: flex-start;
    align-content: center;
    padding-top: 3%;
}

.bolinha {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.passos p {
    font-size: 15px;
    font-weight: 250;
    color: #666666;
}

.passos hr {
    width: 80%;
    margin: 0px;
    background-color: #2a2a2a;
}

.direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
}

.formulario {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.criar {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 800;
}

.formulario hr {
    width: 100%;
}

.nomeCampo {
    color: #666666;
    padding-bottom: 1%;
    font-weight: 700;
    font-size: 14px
}

.formulario p {
    color: #666666;
}

.camposForm {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}

.camposForm input {
    width: 94%;
    background-color: #111111;
    border: 1px solid #2a2a2a;
    color: white;
    border-radius: 10px;
    padding: 16px;
    font-family: sora;
}

input[type="date"]{
    color: white;
}

.camposForm input::placeholder {
    color: white;
}

.formulario button {
    width: 100%;
}

.termos {
    color: #666666;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
}

.ns {
    color: white;
    text-decoration: underline;
}

.fazerLogin {
    text-align: center;
}

/* Página de Login */

.esquerdoLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.5%;
    background-color: #111111;
    width: 50%;
    position: relative;
}

.direitoLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
}

.logoLogin {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
}

.logoLogin img {
    width: 30px;
    height: 30px;
    padding-right: 5%;
}

.logoLogin a {
    font-size: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}